// bower:scss
// endbower

@import "website-font.scss";
body{
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: #000;
}

a, 
a:hover, 
a:active{
  color: #fff;
  text-decoration: none;
}

.mast{
  height: 100%;
  height: 100vh;
  background: #F8F8F8;
}

.logo{
  color: #000;
  font-weight: 300;
  font-size: 24px;
  padding: 10px 0;
  display: inline-block;
}

.img-logo{
  max-width: 200px;
}
.img-logo,
.logo{
  vertical-align: bottom;
}

.rn-carousel-indicator{
  background: transparent;
}


.heading,
.tag-line{
   margin: 0;
}

.logo-container{
  text-align:center;
}

.heading{
  font-family:'Lobster', cursive;
  font-size: 108px;
  margin-bottom: 5px;
}

.feature{
  text-align: center; 
}
.tag-line{
  font-size: 16px;
}

.blue{
  color: #d9d9d9;
}

.download-link{
  background: #000;
}

.flex-vertical{
  flex-direction: column;
}

.flex-container{
  display: -wekbit-flex;
  display: -moz-flex;
  display: flex;
}

.flex-justify-space-between{
  justify-content: space-between;
}

.flex-absolute-centered{
  justify-content: center;
  align-items: center;
}

.sign-up-form{
  width: 350px;
  padding: 15px;
}

.frame{
  max-width: 600px;
}

.flex-fill-parent{
  height: 100%;
  width: 100%;
}

.vertical-divider{
  height: 100%;
  border-right:1px solid #f1f1f1;
  max-height: 400px;
}

.form-control,
.form-control:hover,
.form-control:active,
.form-control:focus{
  box-shadow: none;
  border-radius: 0;
}

.form-control{
  box-shadow: none;
  font-size: 18px;
  font-weight: 300;
  height: 48px;
  padding: 12px;
}

.flex-elastic{
  flex: 1;
}

.form-control:active,
.form-control:focus{
  border:1px solid #000;
}

.btn-primary{
  background: #343434;
  height: 48px;
}

.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus{
  outline: 0px;
  border: 0px;
  background: #000;
}

.sign-up-form hr{
  margin-top: 72px;
  margin-bottom: 40px;
}

.social-icon{
  padding: 14px 0px;
  text-align: center;
  width: 76px;
  height: 76px;
  font-size: 18px;
  background: #000;
  color: #fff;
  font-size: 36px;
}

.icon-emo-thumbsup{
  margin-right: 16px;
}

.feature-slide{
  text-align: center;
  max-width: 400px;
  margin: 60px auto 10px;
}

.feature-label{
  font-size: 24px;
}
.feature-content{
  font-size: 14px;
}

.promo{
  font-size: 20px;
  font-weight: 300;
  margin: 15px 0;
}

.icon-android{
  background: #A4C639;
}

.icon-windows{
  background: #2E8DEF;
  text-align: left;
  padding-left: 8px;
}

.icon-chrome{
  background: #d34836;
}

.form-or{
  width: 40px;
  height: 40px;
  background: #f8f8f8;
  color: #000;
  position: relative;
  margin:0px auto;
  margin-top: 24px;
  margin-bottom: -92px;
  border-radius: 40px;
  padding: 10px;
}

.text-centered{
  text-align: center;
}

.head{
  font-family: 'Segoe UI';
  font-weight: 100;
  font-size: 18px;
}

.twitter-blue{
  background: darken(skyblue, 25%);
}

.flex-space-between{
  justify-content: space-between;
}