
<section class="mast">
    <div class="flex-container flex-fill-parent flex-absolute-centered">
      
      <div class="frame flex-vertical flex-elastic flex-container flex-fill-parent flex-absolute-centered">
        <div>
          <img class="img-logo" src="/images/txt.png" />
          <div class="logo">
            <h1 class="heading">txt</h1>
            <h3 class="tag-line">The elegant way to text!</h3>
          </div>
        </div>
        <div rn-carousel rn-carousel-indicator rn-carousel-auto-slide="5" class="carousel-of-feature">
          <div ng-repeat="feature in awesomeThings" class="feature-slide">
            <h2 class="feature-label" ng-bind="feature.label"></h2>
            <p class="feature-content" ng-bind="feature.descri"></p>
          </div>
        </div>
      </div>

      <div class="vertical-divider"></div>
      <div class="frame">
        <div class="sign-up-form">
          <h2 class="promo"><i class="icon-emo-thumbsup"></i><span>Available on the store near you</span></h2>
          <div class="flex-container flex-space-between">
            <div class="social-icon icon-android"></div>
            <div class="social-icon icon-appstore"></div>
            <div class="social-icon icon-windows"></div>
            <div class="social-icon icon-chrome"></div>
          </div>
          <div class="form-or">OR</div>
          <hr />
          
          <div class="form-group">
            <input type="text" placeholder="Email or Phone Number" class="form-control" />
          </div>
          <div class="form-group">
            <button type="password" placeholder="Phone Number" class="btn btn-primary form-control">Start Texting</button>
          </div>
          <p class="text-centered">We will not disclose your number &amp; but instead drop you a link to download the app :D</p>
        </div>
      </div>
    
    </div>
</section>
